name: .NET Core Deploy to IIS

on: 
  push:
     branches: ["master"]
 #workflow_dispatch:

jobs:
  build-and-deploy:

    runs-on: self-hosted
    
    steps:
    - uses: actions/checkout@v3
    
    # dotnet build and publish
    - name: Build with dotnet
      run: dotnet build --configuration Release .\WebApp.csproj

    - name: dotnet publish 
      run: |
        dotnet publish -c Release -o .\publish .\WebApp.csproj

    - name: Deploy to IIS
      run: |
        try{
          stop-iissite -Name self-hosted-runner-test -Confirm: $false
          stop-webapppool self-hosted-runner-test
          while((Get-WebAppPoolState -Name self-hosted-runner-test).Value -ne 'Stopped'){ Start-Sleep 1 }
          Copy-Item ./publish/* C:/www/WebApp/ -Recurse -Force
        }
        catch{
            Write-Host "An error occurred:"
            Write-Host $_
            exit 1
        }
        finally{
          start-webapppool self-hosted-runner-test
          start-iissite self-hosted-runner-test
        }